body{
    margin: 0;
    font-family: Garamond;
    max-width: 100%;
    overflow-x:hidden;
}

/* sidenav code from w3schools */
.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
  }
  
  .sidenav a {
    padding: 25px 15px 15px 32px;
    text-decoration: none;
    font-size: 20px;
    font-family: Garamond; 
    color: #818181;
    display: block;
    transition: 0.3s;
  }
  
  .sidenav a:hover {
    color: #f1f1f1;
  }
  
  .sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
  }
  
  @media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
  }

  .sticky {
    position: fixed;
    top: 0;
    width: 100%;
  }
  
  .sticky + .content {
    padding-top: 60px;
  }


#myVideo {
    display: block;
    right: 0;
    bottom: 0;
    height:900px;
    margin: 0;
    margin-bottom: 20px;
    filter: contrast(80%) brightness(40%);
  }
  
#hamburger{
    padding: 20px;
}

#title-container{
    color: white;
    text-align: center;
    margin-top: 95px;
    margin-left:290px;
    margin-right: 200px;
    bottom: 0;
    position: absolute;
    top: 0; 
    left:0;
}

h1, h2, h6{
    font-family: Georgia;
    font-weight: 500;
}

h1{
    font-size: 50px;
    margin-top: 150px;
    margin-bottom: 0px;
}

h2{
    font-size: 40px;
    margin-top: 10px;
    margin-bottom: 10px;
}

#main p{
    color: gray;
}

#byLine h6,
#byLine p{
    display: inline;
    padding:5px;
    font-family: Garamond;
    
}

#byLine h6{
    font-weight: 700;
}

#byLine p{
    font-size: 12px;
}

#essay-content{
margin-top: 1000px;
}

#one-introduction p{
    font-family: Garamond;
    text-align: justify;
    padding: 15px 30% 0px 30%;
    line-height: 2;
    margin-top: 0px;
}

#main .essay-content h3{
    padding: 100px 30% 0px 30%;
    font-size: 22px;
}

.lineChart{
    height: 100%;
    width: 500px;
    margin: 40px 0px;
    display:inline-block;
    padding: 0px 32%;
}

.introduction-2, ol{
    margin: 0 15%;
    padding: 15px 15%;
    line-height: 2;
    display: block;
    position: relative;
    color: gray;
}
.stackChart{
    height: 100%;
    width: 500px;
    margin: 40px 0px;
    display:inline-block;
    padding: 0px 33%;
}

#main #pictures-con{
    margin: 10px 20px;
    text-align: center;
}

.barChart,
.barChart2{
    height: 100%;
    width: 500px;
    margin: 40px 0px;
    display:inline-block;
    padding: 0px 33%;
}





/* Slideshow container */
.slideshow-container {

    max-width: 600px;
    position: relative;
    margin: auto;
    margin-top: 25px;
    padding: 10px;
    box-shadow:  10px 6px 10px 4px #e6e6e6;
    border-radius: 5px;
  }
  
  /* Next & previous buttons */
  .prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -22px;
    color: WHITE;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
    background-color: rgba(191, 191, 191,0.5);

  }
  
  /* Position the "next button" to the right */
  .next {
    right: 0;
    border-radius: 3px 0 0 3px;
  }
  
  /* On hover, add a black background color with a little bit see-through */
  .prev:hover, .next:hover {
      cursor: pointer;
      background-color: rgba(150, 150, 150,0.5)
  }
  
  /* Caption text */
  .text {
    font-family: Helvetica;
    font-weight: 900px;
    color: white;
    background: rgba(0,0,0,0.3);
    font-size: 15px;
    padding: 8px 12px;
    position: absolute;
    bottom: 8px;
    width: 94.5%;
    text-align: center;
  }
  

  /* The dots/bullets/indicators */
  .dot {
    cursor: pointer;
    height: 10px;
    width: 10px;
    margin: 0 2px;
    margin-bottom: 30px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
  }
  
  .active, .dot:hover {
    background-color: #717171;
  }
  
  /* Fading animation */
  .fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
  }
  
  @-webkit-keyframes fade {
    from {opacity: .4} 
    to {opacity: 1}
  }
  
  @keyframes fade {
    from {opacity: .4} 
    to {opacity: 1}
  }
  
  /* On smaller screens, decrease text size */
  @media only screen and (max-width: 300px) {
    .prev, .next,.text {font-size: 11px}
  }



svg{
    width: 500px;
    padding: 0px 30%;
    margin: 0px 0px;
}

.st0{fill:none;stroke:#000000;stroke-miterlimit:10;}
.st1{fill:#FFFFFF;stroke:#000000;stroke-miterlimit:10;}
.st2{fill:none;}
.st3{font-family:'Helvetica-Light';}
.st4{font-size:13px;}

#Truck{
    animation: move 5s infinite linear;
    offset-path: path("M311.263306,457.892242h-8.976898c-1.4263,0-2.58255-1.15625-2.58255-2.58255v-3.358704h15.105988v2.394714C314.809845,456.304382,313.222015,457.892242,311.263306,457.892242z");
}
